body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #eff1f4;
}

header {
  background: #333537 url(../img/logo.png) no-repeat scroll center 50px;
  height: 190px;
  text-transform: uppercase;
}

header h4 {
  color: #2bab8b;
  font-size: 20px;
  padding-top: 130px;
  text-align: center;
  margin: 0;
}

.content {
  padding-top: 20px;
}

.search-input {
  position: relative;
  max-width: 730px;
  margin: 0 auto;
}

.search-input input {
  padding: 30px;
  height: 70px;
  color: black;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.search-input .search-again {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #26b08f;
  border-radius: 5px;
  padding: 4px;
  line-height: 14px;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 250px;
  width: 100%;
  overflow-y: scroll;
  padding: 0;
}

.dropdown-menu li {
  text-align: left;
}

.dropdown-menu .empty-item {
  padding: 20px 12px;
}

.dropdown-menu li a {
  padding: 20px 12px;
  border-top: 1px solid #e7e9eb;
}

.dropdown-menu li a:hover {
  color: white;
  background-color: #26b08f;
}

.song-lyrics {
  background-color: #fff;
  border: 1px solid #e2e6eb;
  border-radius: 5px;
  padding: 50px;
  max-width: 730px;
  margin: 10px auto 0 auto;
  white-space: pre-line;
}