<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Angular Starter Kit</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css">
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../dist/js/app.js"></script>
</head>
<body>

<header class="header">
  <h4>Find the lyrics for the songs you love</h4>
</header>

<div class="content" ng-controller="searchController as ctrl">
    <div class="search-input">
      <input-search
          items="items" 
          placeholder="What's the name of the song?"
          model="query"
          on-query-change="ctrl.onQueryChange(query)"
          on-select="ctrl.onItemSelect(item, idx)">
          <span class="search-again" ng-if="ctrl.lyrics" ng-click="ctrl.reset()">Search again?</span>
      </input-searchn>
    </div>
    <div class="song-lyrics" ng-show="ctrl.lyrics">
      {{ ctrl.lyrics }}
    </div>
  </div>
</div>
</body>
</html>
